<mat-toolbar class="custom-toolbar">
  <h1>To do Application</h1>
  <span class="spacer"></span>
  <button
    *ngIf="isLoggedIn()"
    class="custom-button"
    [matMenuTriggerFor]="taskMenu"
  >
    Taches
  </button>
  <mat-menu #taskMenu="matMenu">
    <button mat-menu-item (click)="goListView()">Listes</button>
    <button mat-menu-item (click)="goCardView()">Cartes</button>
  </mat-menu>
  <button
    *ngIf="isLoggedIn()"
    class="custom-button"
    [matMenuTriggerFor]="userMenu"
  >
    Utilisateur
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="goUserList()">Listes</button>
    <button mat-menu-item (click)="logout()">Se déconnecter</button>
  </mat-menu>
</mat-toolbar>
