<div style="margin: 16px;">
  <mat-button-toggle-group
    name="statusFilter"
    [(ngModel)]="statusFilter"
    appearance="legacy"
    color="primary"
    exclusive
    (change)="onFilterChange()">
    <mat-button-toggle value="all">Toutes</mat-button-toggle>
    <mat-button-toggle value="completed">Faites</mat-button-toggle>
    <mat-button-toggle value="incomplete">En cours</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="task-list">
    <mat-card class="task-card" *ngFor="let task of tasks"
            [ngClass]="{ 'completed': task.completed, 'incomplete': !task.completed }"
            (click)="onTaskClick(task)">
    <mat-card-title>
      <mat-icon color="primary">{{ task.completed ? 'check_circle' : 'hourglass_empty' }}</mat-icon>
      {{ task.label }}
    </mat-card-title>

    <mat-card-content>
      {{ task.description }}
    </mat-card-content>

    <mat-card-actions>
      <mat-chip [color]="task.completed ? 'primary' : 'warn'" selected>
        {{ task.completed ? 'Fait' : 'En cours' }}
      </mat-chip>
      <button mat-raised-button color="accent" (click)="toggleCompletedStatus(task); $event.stopPropagation()">
        {{ task.completed ? 'Annuler' : 'Terminer' }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
