<div class="p-4">
  <h2 class="text-xl font-bold mb-4">👤 Liste des utilisateurs</h2>

  <mat-table [dataSource]="users" class="mat-elevation-z8" *ngIf="users.length > 0">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Nom d'utilisateur </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.username }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.role }} </mat-cell>
    </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let user">
      <button mat-icon-button color="warn" (click)="confirmDelete(user.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>

  <div *ngIf="users.length === 0" class="mt-4 text-gray-600">Aucun utilisateur trouvé.</div>
</div>
